.appWrapper {
    height: 100vh;
    padding: 0;
    background-color: white;
    color: black;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 1rem;
    border-bottom: 1px solid black;
    font-size: 2rem;
}

.langPannel {
    display: flex;
    width: 200px;
    justify-content: space-between;
    align-items: center;
}

.langBtn {
    width: 3rem;
    height: 3rem;
}